*{
    body{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.766), rgba(0, 0, 0, 0.804)), url(media/mamor.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(26, 11, 107);
    box-shadow: 2px 2px 10px rgb(26, 11, 107);
    
}
a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inicio{
    display: flex;
    align-items: center;

}
.texto{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}
.texto2{
    padding-right: 30px;
    padding-left: 10px;
    line-height: 30px;
}
.firma{
    height: 80px;
    width: 300px;
    margin-left: 10px;
}
li{
    padding-right: 10px;
}
.iconoi,
.iconow,
.iconol
{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
}

.logo{
    max-width: 5rem;
    margin-right: 10;
    width: 70px;
    height: 80px;
    border-radius: 15px;
    padding: 0;
    
}
.nav{
    display: flex;
    align-items: center;
    
}
.redes{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 30px;
    padding-right: 20px;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 5rem;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.abrir-menu{
    display: none;
}
.cerrar-menu{
    display: none;
}
.container{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 50px 10px;
    line-height: 25px;
}
h1{
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
    
}
.imagenpresentacion{
    padding: 10px;
    width: 700px;
    height: 500px;
}
.imagentrayectoria{
    padding: 10px;
    width: 500px;
    height: 550px;
}
#demos .container{
    display: block;
    text-align: center;
    align-items: center;
}
.videos{
    
    display: flex;
    justify-content: space-evenly;
}
#contrataciones .container{
    display: block;
}
.form{
    justify-content: space-evenly;
}
button{
   justify-content: space-between;
   background-color: black;
   margin: 0;
   cursor: pointer;
   border-radius: 5px;
   border: none;
}

@media screen and (max-width: 550px){
    *{
        background-color: black;
        .imagenpresentacion,
        .imagentrayectoria{
            visibility: hidden;
        }
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    header{
        flex-direction: row;
    }
    .inicio{
        flex-direction: row;
    }
    .logo,
    .firma{
        display: flex;
        flex-direction: row;
    }
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 5;
        font-size: 1.25rem;
        background-image: url("media/logo.jpg");
        cursor: pointer;
    }
    .abrir-menu{
        color: rgb(255, 255, 255);
    }
    .cerrar-menu{
        color: aliceblue;
        background-color: black;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(139, 19, 219);
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }  
    .nav.visible{
        opacity: 1;
        visibility: visible;
    
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        padding-top: 30px;
    }
    .nav-list{
        color: aliceblue;
    }
    header{
        border-bottom: 2px solid rgb(0, 255, 64);
        box-shadow: 2px 2px 10px rgb(0, 255, 64);
    }
    h1, h2, p{
        color: aliceblue;
    }

    
  
    h1{
        padding-bottom: 30px;
    }
    p{
        text-align:justify;
    }
   
    #demos .container{
        text-align: center;
        align-items: center;
        padding: 50px;
    
    }
    .carta h2{
        color: bisque;
        padding-bottom: 10px;
    }
    
    
    .videos{
        flex-direction: row;
        display: block;
        justify-content: space-evenly;
    }
    .carta:first-child{
        background-image: linear-gradient( 0deg,
        rgb(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("media/bat.jpg");
        border-radius: 5%;
    }
    .carta:nth-child(2){ 
        background-image: linear-gradient( 0deg,
        rgb(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("media/bat.jpg");
        border-radius: 5%;
    }
    .carta:nth-child(3){
        background-image: linear-gradient( 0deg,
        rgb(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("media/bat.jpg");
        border-radius: 5%;
    }
    
    #contrataciones .container{
        text-align: center;
        padding: 30px;
        
    }

    #contrataciones .form{
        display: flex;
        justify-content: space-evenly;
    }
    button{
        font-size: 1.5em;
        font-weight: bold;
        font-family: fantasy;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 2px 2px 10px black;
        padding: 10px;
        background-color: aliceblue; 
        color: rgb(0, 255, 64);
        border: 2px solid rgb(0, 255, 64);
    }
    button:hover{
        background-color: rgb(0, 255, 64);
        color: aliceblue;
         
    }
   
}